* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin-top: 100px;
}

/* ============================================================================================================================================================================== */
.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 200px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar-links a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.navbar-left {
    margin-right: auto;
}

.navbar-right {
    margin-left: auto;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo-container img {
    margin-top: 30px;
    max-width: 60%;
    max-height: 60%;
    filter: invert(1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 60px;
    }

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-links a {
        padding: 0 10px;
        font-size: 16px;
        text-align: center;
    }

    .navbar-links.navbar-left {
        justify-content: flex-start;
    }

    .navbar-links.navbar-right {
        justify-content: flex-end;
    }
}

@media (max-width: 393px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 60px;
    }

    .logo-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .navbar-links {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .navbar-links a {
        padding: 4px 8px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
    }

    .navbar-links.navbar-left {
        justify-content: flex-start;
    }

    .navbar-links.navbar-right {
        justify-content: flex-end;
    }
}

/* ============================================================================================================================================================================== */
.about-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    border-radius: 10px;
}

.block-blue {
    position: absolute;
    background: #0248cc;
    color: #fff;
    padding: 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 0;
    width: 40vw;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: bold;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
    gap: 40px;
    background: linear-gradient(135deg, #5c5fee6c, #6477b6b2);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
}

.about-image img {
    width: 100%;
    max-width: 800px;
    min-height: 600px;
    border-radius: 20px;
    padding-top: 40px;
}

.about-text {
    flex: 1 1 50%;
    font-size: 30px;
    word-wrap: break-word;
    position: relative;
    z-index: 5;
    padding-top: 170px;
    max-width: 610px;
    color: #000;
}

.about-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.about-text p {
    font-size: 30px;
    color: #000;
    margin-bottom: 15px;
}

.about-text ul li {
    font-size: 30px;
    color: #000;
    margin-bottom: 15px;
}

.text-background {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
    .about-section {
        padding: 20px 10px;
        border-radius: 10px;
    }

    .block-blue {
        position: static;
        width: auto;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
        box-shadow: none;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }

    .about-image img {
        max-width: 100%;
        min-height: auto;
        padding-top: 20px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .about-text {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
        padding-top: 0px;
        text-align: center;
    }

    .about-text p,
    .about-text ul li {
        color: #000;
        font-size: 25px;
    }

    .about-text ul {
        padding-left: 20px;
        list-style-position: inside;
    }

    .about-text h2 {
        font-size: 22px;
    }
}

@media (max-width: 393px) {
    .about-section {
        padding: 15px 5px;
        border-radius: 8px;
    }

    .block-blue {
        position: static;
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 18px;
        border-radius: 8px;
        box-shadow: none;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 5px;
    }

    .about-image img {
        max-width: 100%;
        min-height: auto;
        padding-top: 15px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .about-text {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 100%;
        padding-top: 0px;
        text-align: center;
    }

    .about-text p,
    .about-text ul li {
        color: #000;
        font-size: 20px;
    }

    .about-text ul {
        padding-left: 10px;
        list-style-position: inside;
    }

    .about-text h2 {
        font-size: 18px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ============================================================================================================================================================================== */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    min-width: 1400px;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 700px;
    border-radius: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
    .video-container {
        min-width: 100%;
        padding: 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    }

    .video-container iframe {
        min-width: 100%;
        min-height: auto;
        aspect-ratio: 16/9;
    }
}

@media (max-width: 393px) {
    .video-container {
        min-width: 100%;
        padding: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .video-container iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}

/* ============================================================================================================================================================================== */

.sportomatic-box {
    max-width: 1500px;
    margin: 100px auto;
    padding: 40px;
    background: linear-gradient(135deg, #5c5fee6c, #6477b6b2);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    border-radius: 20px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    border-radius: 15px;
}

.text-container-1 {
    flex: 2;
    background: #ebebeb;
    color: #000000;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.text-container-2 {
    flex: 2;
    background: #ffffff;
    color: #000000;
    margin-top: 60px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.text-container p {
    margin: 0;
}

.title-container {
    margin-bottom: 20px;
}

.title-container h2 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.block-blue-2 {
    position: absolute;
    background: #0248cc;
    color: #fff;
    padding: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 0;
    width: 40vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
    .sportomatic-box {
        padding: 20px;
        margin: 20px auto;
    }

    .content-container {
        flex-direction: column;
        gap: 20px;
    }

    .block-blue-2 {
        position: static;
        width: auto;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .image-container {
        margin: 0 auto 20px;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .text-container-1 {
        padding: 20px;
        line-height: 1.4;
        text-align: left;
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }

    .text-container-2 {
        order: 3;
        padding: 20px;
        line-height: 1.4;
        text-align: left;
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }
}

@media (max-width: 393px) {
    .sportomatic-box {
        padding: 15px;
        margin: 10px auto;
    }

    .content-container {
        flex-direction: column;
        gap: 15px;
    }

    .block-blue-2 {
        position: static;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        border-radius: 15px;
    }

    .image-container {
        margin: 0 auto 15px;
        width: 90%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .text-container-1,
    .text-container-2 {
        padding: 15px;
        line-height: 1.3;
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
    }

    .text-container-2 {
        order: 3;
    }
}

/* ============================================================================================================================================================================== */
.wrapper {
    align-items: center;
    min-height: 100vh;
    max-width: 1500px;
    background: linear-gradient(135deg, #5c5fee6c, #6477b6b2);
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    margin-bottom: 50px;
}

.photo-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1500px;
    width: 100%;
}

.photo-block {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.photo-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.photo-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 393px) {
    .wrapper {
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 3px 6px rgba(0.4, 0.4, 0.4, 0.4);
        margin-bottom: 20px;
    }

    .photo-section {
        grid-template-columns: 1fr;
        /* Остается одна колонка */
        gap: 15px;
    }

    .photo-block {
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
    }

    .photo-block:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    }

    .photo-block img {
        border-radius: 8px;
        /* Уменьшение радиуса для более компактного вида */
    }
}

/* ============================================================================================================================================================================== */
.sportomatic-box-2 {
    max-width: 1500px;
    margin: 100px auto;
    padding: 40px;
    background: linear-gradient(135deg, #5c5fee6c, #6477b6b2);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content-container-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.image-container-2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
}

.image-container-2 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.text-container-3 {
    background: #0248cc;
    color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.title-container-2 h2 {
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.text-container-3 p {
    margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
    .content-container-2 {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .image-container-2 {
        width: 100%;
        max-width: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    .image-container-2 img {
        width: 100%;
        height: auto;
    }

    .text-container-3 {
        padding: 20px;
        font-size: 20px;
        line-height: 1.4;
        text-align: center;
    }

    .title-container-2 h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

@media (max-width: 393px) {
    .sportomatic-box-2 {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content-container-2 {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    .image-container-2 {
        max-width: 100%;
        box-shadow: 0 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
        border-radius: 10px;
    }

    .text-container-3 {
        padding: 15px;
        font-size: 18px;
        line-height: 1.3;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
        max-width: 100%;
    }

    .title-container-2 h2 {
        font-size: 22px;
    }
}
/* ============================================================================================================================================================================== */
.text-container-4 {
    flex: 2;
    background: #ebebeb;
    color: #000000;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0.7, 0.7, 0.7, 0.7);
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) {
    .text-container-4 {
        padding: 25px;
        font-size: 20px;
        line-height: 1.6;
        text-align: center;
        width: 100%;
        max-width: 700px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    }

    .text-container-4 p {
        margin: 15px 0;
        font-size: 25px;
    }
}

@media (max-width: 393px) {
    .text-container-4 {
        padding: 15px;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
        width: 100%;
        max-width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-container-4 p {
        margin: 10px 0;
        font-size: 20px;
    }
}

/* ============================================================================================================================================================================== */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer img {
    width: 100px;
    margin-bottom: 20px;
    filter: invert(1);
}

footer p {
    margin: 5px 0;
    font-size: 20px;
}

footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
}

footer a:hover {
    color: #ccc;
}

footer div {
    margin-bottom: 15px;
}

.link_a {
    text-decoration: none;
    color: inherit;
  }
  